{% extends parent_template|default:"logs/base_logs.html" %}

{% block title %}
{{ block.super }} -- {{ topic.name }}
{% endblock title %}

{% block content %}
<h3>{{ topic.name }} >
    <a href="{{ topic.topic_type.get_absolute_url }}" >
    {{ topic.topic_type }} </a> >
    {{ topic.get_status_display }}
</h3>
<p>
<a href="{{ topic.get_update_url }}"> Edit </a> - <a href="{{ topic.get_delete_url }}"> Delete </a>
</p>
<p>
<a href="{% url 'logs_topic_add_entry' topic.slug %}"> + Add Entry </a>
</p>
<ul>
    {% for entry in topic.entry_set.all %}
    <li> 
        <p>
        <time datetime="{{ entry.date_added|date:'Y-M-d' }}">{{ entry.date_added|date:'Y-M-d' }}</time>
        </p>
        <p>
        {{ entry.text}}
        </p>
    </li>
    {% empty %}
    <li> <em> No Entry Found! </em> </li>
    {% endfor %}
</ul>
{% endblock content %}
