{% extends parent_template|default:"logs/base_logs.html" %}

{% block title %}
{{ block.super }} -- Topic List
{% endblock title %}

{% block content %}
    <h3>Topics:</h3>
    <a href="{% url 'logs_topic_create' %}"> + Add Topic </a>
    <ul>
    {% for topic in topic_list %}
    <li> <a href="{{ topic.get_absolute_url }}"> {{ topic.name }} </a> &nbsp; &nbsp; {{ topic.get_status_display }}</li>
    {% empty %}
    <li> <em> No Topic Found! </em> </li>
    {% endfor %}
    </ul>
{% endblock content %}
