{% extends parent_template|default:"logs/base_logs.html" %}

{% block title %}
{{ block.super }} -- {{ type.name }}
{% endblock title %}

{% block content %}
<h3>{{ type.name }}</h3>
<a href="{% url 'logs_topic_create' %}"> + Add Topic </a>
<ul>
{% for topic in type.topic_set.all %}
<li> 
    <a href="{{ topic.get_absolute_url }}"> {{ topic.name }} </a> - 
    <a href="{{ topic.get_update_url }}"> Edit </a> -
    <a href="{{ topic.get_delete_url }}"> Delete </a>
</li>
{% empty %}
<li> <em> No Topic Found! </em> </li>
{% endfor %}
</ul>
{% endblock content %}
