<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8">
<title>
    {% block title %}
    Log(x2)
    {% endblock title %}

</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if IE]><script
src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script><![endif]-->
</head>
<body>
    <nav>
    <ul>
    <li><a href="{% url 'logs:type_list' %}"> Types </a></li>
    <li><a href="{% url 'logs:topic_list' %}"> Topics </a></li>
    </ul>
    </nav>
    {% block content %}
    <p>
        <em> if you are seeing this, there is something wrong! </em>
    </p>
    {% endblock content %}
</body>
</html>
